<!DOCTYPE html>
<html>
  <head>
    <title>SalonTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
  <% if logged_in? %>
      現在のログインユーザー：<%= current_user.name %>
  　     <% if @current_user.admin == true %>
           ＊管理権限あり
           <%= link_to "ユーザー一覧", users_path %>
  　     <% else %>
           ＊管理権限なし
  　     <% end %>
      <%= link_to "ログアウト", logout_path, method: :delete %>
  <% else %>
      <%= link_to "ログイン", login_path %>
      <%= link_to "新規登録", new_user_path %>
  <% end %>


    <%= yield %>
  </body>
</html>
